html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white; }

body {
  background: #313131;
  margin: 0; }

.header {
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .header__links {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-self: center;
    margin: 15px 0 0; }
  .header__link {
    display: flex;
    text-decoration: none;
    color: #84CEEB;
    align-self: flex-start;
    margin: 0 20px;
    font-size: 16pt;
    font-weight: 400; }
    .header__link:visited {
      color: #84CEEB; }
    .header__link:hover {
      color: white; }
    .header__link--contact {
      color: #EC008C; }
      .header__link--contact:visited {
        color: #EC008C; }
  .header__me-section {
    margin: 50px 0 0;
    align-self: center;
    display: flex;
    flex-direction: column; }
  .header__title {
    align-self: center;
    margin: 0;
    font-size: 30pt;
    font-weight: 500; }
  .header__subtitle {
    align-self: center;
    margin: 0;
    font-size: 12pt; }

.circle {
  background: white;
  border: #EC008C 3px solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden; }
  .circle--header {
    align-self: center; }
  .circle__me {
    background: url("../images/me.jpg") no-repeat center center;
    background-size: cover;
    width: 150px;
    height: 150px; }

.project {
  margin-right: 50px;
  margin-left: 100px;
  padding: 20px 0 0; }
  .project__title {
    font-weight: 600; }
  .project__skills {
    display: flex;
    flex-direction: row;
    padding: 0; }
  .project__skill {
    list-style: none;
    margin-right: 10px;
    color: #EC008C; }

.separator-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 30px 0 30px 10%; }
  .separator-title__line {
    flex-grow: 1;
    background: #84CEEB;
    height: 1px; }
  .separator-title__title {
    color: #84CEEB;
    margin: 0 25px; }
  .separator-title--dark .separator-title__line {
    background: #181818; }
  .separator-title--dark .separator-title__title {
    color: #181818; }

.section {
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 30px; }
  .section--light {
    background: #e4e4e4;
    margin: 0; }

.education {
  margin-right: 50px;
  margin-left: 50px; }
  .education__cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    justify-content: center; }

.education-card {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background: #313131;
  color: #eee;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.55), 0 5px 15px rgba(0, 0, 0, 0.55);
  margin: 0 25px;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 2px;
  transition: 0.3s ease-in-out; }
  .education-card i {
    color: inherit; }
  .education-card__icon {
    align-self: center;
    font-size: 36pt; }
  .education-card__title {
    font-weight: 600;
    align-self: center;
    padding: 20px 0; }
  .education-card__subtitle {
    align-self: center; }
  .education-card:hover {
    transform: scale(1.1); }

.courses-container {
  margin-right: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.course {
  padding: 20px 0 0;
  width: 50%;
  align-self: center; }
  .course__title {
    font-weight: 600;
    color: #181818;
    width: 80%;
    margin-left: 10%; }
  .course__description {
    color: #181818;
    width: 80%;
    margin-left: 10%; }

.progress-bars {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.progress-bar {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding: 20px 6%; }
  .progress-bar__title {
    font-weight: 600;
    padding: 0 0 10px; }
  .progress-bar__bar {
    display: flex;
    flex-direction: row; }
  .progress-bar__bar-segment {
    height: 30px;
    display: flex;
    flex-direction: column;
    transition: 2s; }
    .progress-bar__bar-segment--highlight {
      background: #EC008C;
      width: 0px; }
    .progress-bar__bar-segment--highlight-dark {
      background: #84CEEB;
      width: 0px; }
    .progress-bar__bar-segment--white {
      background: white;
      flex-grow: 1; }

.expandable {
  display: flex;
  flex-direction: column; }
  .expandable__button {
    background: #313131;
    border: #EC008C 1px solid;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    color: white;
    align-self: center;
    transition: 0.5s; }
    .expandable__button:hover {
      background: #EC008C; }
  .expandable__item {
    transition: 0.5s;
    opacity: 1;
    display: unset; }
    .expandable__item--hidden {
      display: none;
      opacity: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0; }

p {
  margin: 0;
  font-size: 11pt; }
