html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #e6e6e6; }

body {
  background: #313131;
  margin: 0; }

.header {
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }
  .header__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0 0;
    flex-wrap: wrap; }
  .header__link {
    display: flex;
    text-decoration: none;
    color: tomato;
    align-self: flex-start;
    margin: 0 20px;
    font-size: 16pt;
    font-weight: 400; }
    @media (max-width: 1000px) {
      .header__link {
        margin-top: 10px; } }
    .header__link:visited {
      color: tomato; }
    .header__link:hover {
      color: #e6e6e6; }
    .header__link--contact {
      color: #e6e6e6; }
      .header__link--contact:visited {
        color: tomato; }
  .header__me-section {
    margin: 50px 0 0;
    display: flex;
    flex-direction: column; }
  .header__title {
    margin: 0;
    font-size: 30pt;
    font-weight: 500; }
  .header__subtitle {
    margin: 0;
    font-size: 12pt;
    align-self: center; }

.circle {
  background: #e6e6e6;
  border: tomato 3px solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden; }
  .circle--header {
    align-self: center; }
  .circle__me {
    background: url("../images/me.jpg") no-repeat center center;
    background-size: cover;
    width: 150px;
    height: 150px; }

.text-section {
  margin: 0 25%; }
  @media (max-width: 1000px) {
    .text-section {
      margin: 0 10%; } }

.employer {
  padding: 0 0 30px; }
  .employer__title {
    font-size: 18pt;
    line-height: 22pt; }

.project {
  padding: 20px 0 0; }
  .project__title {
    font-weight: 300;
    font-size: 16pt;
    line-height: 20pt; }
  .project__skills {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    margin: 5px 0; }
  .project__skill {
    list-style: none;
    margin-right: 10px;
    color: #e6e6e6;
    background-color: tomato;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 5px;
    text-transform: lowercase;
    font-size: 10pt; }

.separator-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 30px 0 30px 10%; }
  .separator-title__line {
    flex-grow: 1;
    background: tomato;
    height: 1px; }
  .separator-title__title {
    color: tomato;
    margin: 0 25px; }
  .separator-title--dark .separator-title__line {
    background: #181818; }
  .separator-title--dark .separator-title__title {
    color: #181818; }

.section {
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 30px; }
  .section--light {
    background: #e4e4e4;
    margin: 0; }
  @media (max-width: 1000px) {
    .section {
      margin: 0; } }

.education {
  margin-right: 50px;
  margin-left: 50px; }
  .education__cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    justify-content: center; }
    @media (max-width: 1000px) {
      .education__cards {
        flex-wrap: wrap;
        align-items: center; } }

.education-card {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  background: #313131;
  color: #eee;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.55), 0 5px 15px rgba(0, 0, 0, 0.55);
  margin: 0 25px;
  width: 200px;
  min-height: 200px;
  border-style: solid;
  border-width: 2px;
  transition: 0.3s ease-in-out; }
  @media (max-width: 1000px) {
    .education-card {
      margin-bottom: 25px; } }
  .education-card i {
    color: inherit; }
  .education-card__icon {
    align-self: center;
    font-size: 36pt; }
  .education-card__title {
    font-weight: 300;
    align-self: center;
    padding: 20px 0; }
  .education-card__subtitle {
    align-self: center;
    text-align: center; }
  .education-card:hover {
    transform: scale(1.1); }

.courses-container {
  margin-right: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  @media (max-width: 1000px) {
    .courses-container {
      flex-direction: column; } }
  @media (max-width: 600px) {
    .courses-container {
      flex-direction: column;
      margin: 0; } }

.course {
  margin: 20px 0 0;
  width: 30%;
  align-self: center;
  border-radius: 10px;
  display: flex;
  height: 150px;
  overflow: hidden; }
  @media (max-width: 1000px) {
    .course {
      margin-top: 10px;
      width: 80%;
      height: unset;
      min-height: 150px; } }
  .course__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
    text-align: center; }
    .course__content--2023 {
      background: linear-gradient(to right, #00BCF2, #00B26E); }
    .course__content--2022 {
      background: linear-gradient(to right, #833ab4, #fcb045); }
    .course__content--2020 {
      background: linear-gradient(to right, #e83992, #2f88f1); }
    .course__content--2019 {
      background: linear-gradient(to right, #089f8f, #2a4858); }
    .course__content--2018 {
      background: linear-gradient(to right, #ff8047, #f4374c); }
    .course__content--2017 {
      background: linear-gradient(to right, #47fff8, #3771f4); }
    .course__content--2016 {
      background: linear-gradient(to right, #f437d0, #8e47ff); }
  .course__title {
    font-weight: 300;
    color: white;
    width: 80%;
    margin-left: 0;
    padding: 5px 0;
    font-weight: 600; }
  .course__tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0;
    flex-wrap: wrap; }
  .course__tag {
    padding: 0 5px; }
  .course__year-container {
    background: white;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .course__year {
    transform: rotate(270deg);
    font-size: 30pt; }
    .course__year--2023 {
      color: #00B26E; }
    .course__year--2022 {
      color: #fcb045; }
    .course__year--2020 {
      color: #2f88f1; }
    .course__year--2019 {
      color: #2a4858; }
    .course__year--2018 {
      color: #f4374c; }
    .course__year--2017 {
      color: #3771f4; }
    .course__year--2016 {
      color: #8e47ff; }
    .course__year--dashed {
      font-size: 24pt; }
  .course__description {
    color: #181818;
    width: 80%;
    margin-left: 10%;
    display: none; }

.progress-bars {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.progress-bar {
  display: flex;
  flex-direction: column;
  width: 21%;
  padding: 20px 6%;
  align-self: flex-end; }
  @media (max-width: 1000px) {
    .progress-bar {
      width: 40%;
      padding: 20px 5%; } }
  @media (max-width: 600px) {
    .progress-bar {
      width: 100%; } }
  .progress-bar__title {
    font-weight: 300;
    text-align: center; }
  .progress-bar__subtitle {
    text-align: center; }
  .progress-bar__bar {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0; }
  .progress-bar__bar-segment {
    height: 30px;
    display: flex;
    flex-direction: column;
    transition: 2s; }
    .progress-bar__bar-segment--highlight {
      background: tomato;
      width: 0px; }
    .progress-bar__bar-segment--highlight-dark {
      background: tomato;
      width: 0px; }
    .progress-bar__bar-segment--white {
      background: white;
      flex-grow: 1; }

.list-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 1000px) {
    .list-cards {
      flex-direction: column;
      justify-content: unset;
      align-items: center; } }

.list-card {
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 8px;
  margin: 75px 3% 0;
  min-width: 400px; }
  .list-card__icon {
    background: #e6e6e6;
    border: tomato 3px solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -75px;
    margin-bottom: -50px; }
    .list-card__icon--low {
      background: url("../images/me.jpg") no-repeat center center;
      background-size: cover;
      width: 150px;
      height: 150px; }
  .list-card__ribbon {
    background: tomato;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 0 0 0 tomato, 10px 0 0 0 tomato; }
  .list-card__title {
    color: #e6e6e6; }
  .list-card__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    .list-card__content > :first-child {
      margin-left: 5%; }
    .list-card__content > :nth-child(3n+1) {
      margin-left: 5%; }

.titled-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-right: 5%;
  width: 26.66667%;
  text-align: center; }
  .titled-icon__icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    transition: 0.3s; }
    .titled-icon__icon--adobe-animate {
      background: url("../images/Adobe Animate/Adobe Animate.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--adobe-animate:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--adobe-animate {
          filter: unset; } }
    .titled-icon__icon--adobe-indesign {
      background: url("../images/Adobe InDesign/Adobe InDesign.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--adobe-indesign:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--adobe-indesign {
          filter: unset; } }
    .titled-icon__icon--adobe-illustrator {
      background: url("../images/Adobe Illustrator/Adobe Illustrator.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--adobe-illustrator:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--adobe-illustrator {
          filter: unset; } }
    .titled-icon__icon--asana {
      background: url("../images/Asana/Asana.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--asana:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--asana {
          filter: unset; } }
    .titled-icon__icon--behance {
      background: url("../images/Behance/Behance.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--behance:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--behance {
          filter: unset; } }
    .titled-icon__icon--CSS {
      background: url("../images/CSS/CSS.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--CSS:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--CSS {
          filter: unset; } }
    .titled-icon__icon--html {
      background: url("../images/HTML/HTML.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--html:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--html {
          filter: unset; } }
    .titled-icon__icon--javascript {
      background: url("../images/Javascript/Javascript.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--javascript:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--javascript {
          filter: unset; } }
    .titled-icon__icon--mixpanel {
      background: url("../images/Mixpanel/Mixpanel.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--mixpanel:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--mixpanel {
          filter: unset; } }
    .titled-icon__icon--adobe-photoshop {
      background: url("../images/Adobe Photoshop/Adobe Photoshop.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--adobe-photoshop:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--adobe-photoshop {
          filter: unset; } }
    .titled-icon__icon--google-data-studio {
      background: url("../images/Google Data Studio/Google Data Studio.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--google-data-studio:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--google-data-studio {
          filter: unset; } }
    .titled-icon__icon--google-tag-manager {
      background: url("../images/Google Tag Manager/Google Tag Manager.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--google-tag-manager:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--google-tag-manager {
          filter: unset; } }
    .titled-icon__icon--confluence {
      background: url("../images/Confluence/Confluence.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--confluence:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--confluence {
          filter: unset; } }
    .titled-icon__icon--mailchimp {
      background: url("../images/Mailchimp/Mailchimp.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--mailchimp:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--mailchimp {
          filter: unset; } }
    .titled-icon__icon--infusionsoft {
      background: url("../images/Infusionsoft/Infusionsoft.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--infusionsoft:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--infusionsoft {
          filter: unset; } }
    .titled-icon__icon--invision-craft {
      background: url("../images/Invision Craft/Invision Craft.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--invision-craft:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--invision-craft {
          filter: unset; } }
    .titled-icon__icon--craft-cms {
      background: url("../images/Craft CMS/CraftCMS.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--craft-cms:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--craft-cms {
          filter: unset; } }
    .titled-icon__icon--balsamiq {
      background: url("../images/Balsamiq/Balsamiq.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--balsamiq:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--balsamiq {
          filter: unset; } }
    .titled-icon__icon--jira {
      background: url("../images/JIRA/Jira.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--jira:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--jira {
          filter: unset; } }
    .titled-icon__icon--google-analytics {
      background: url("../images/Google Analytics/Google Analytics.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--google-analytics:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--google-analytics {
          filter: unset; } }
    .titled-icon__icon--figma {
      background: url("../images/Figma/Figma.jpg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--figma:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--figma {
          filter: unset; } }
    .titled-icon__icon--office {
      background: url("../images/Office/Office.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--office:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--office {
          filter: unset; } }
    .titled-icon__icon--powerbi {
      background: url("../images/Powerbi/powerbi.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--powerbi:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--powerbi {
          filter: unset; } }
    .titled-icon__icon--mysql {
      background: url("../images/MySQL/mysql.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--mysql:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--mysql {
          filter: unset; } }
    .titled-icon__icon--drawio {
      background: url("../images/Drawio/Drawio.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--drawio:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--drawio {
          filter: unset; } }
    .titled-icon__icon--canva {
      background: url("../images/Canva/Canva.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--canva:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--canva {
          filter: unset; } }
    .titled-icon__icon--google-suite {
      background: url("../images/Google Suite/Google Suite.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--google-suite:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--google-suite {
          filter: unset; } }
    .titled-icon__icon--hotjar {
      background: url("../images/hotjar/hotjar.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--hotjar:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--hotjar {
          filter: unset; } }
    .titled-icon__icon--usertesting {
      background: url("../images/User Testing/UserTesting.svg") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--usertesting:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--usertesting {
          filter: unset; } }
    .titled-icon__icon--iwork {
      background: url("../images/iWork/iwork.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--iwork:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--iwork {
          filter: unset; } }
    .titled-icon__icon--trello {
      background: url("../images/Trello/Trello.png") no-repeat center center;
      filter: grayscale(1);
      background-size: cover; }
      .titled-icon__icon--trello:hover {
        filter: grayscale(0); }
      @media (max-width: 1000px) {
        .titled-icon__icon--trello {
          filter: unset; } }
    .titled-icon__icon > img {
      width: 100%;
      height: 100%; }
  .titled-icon__title {
    color: #313131;
    font-size: 12pt;
    padding-top: 10px;
    font-weight: 600;
    text-align: unset; }

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .contact-links :last-child {
    margin: 0; }

.contact-link {
  background: white;
  border: tomato 3px solid;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 70px 0 0; }
  .contact-link > img {
    width: 70%;
    height: 70%; }

.expandable {
  display: flex;
  flex-direction: column; }
  .expandable__button {
    background: #313131;
    border: tomato 1px solid;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    color: #e6e6e6;
    align-self: center;
    transition: 0.5s;
    margin: 40px 0 0; }
    .expandable__button:hover {
      background: tomato; }
  .expandable__item {
    transition: 0.5s;
    opacity: 1;
    display: unset; }
    .expandable__item--hidden {
      display: none;
      opacity: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans script=all', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: steelblue;
  margin: 0; }

p {
  margin: 0;
  font-size: 12pt;
  line-height: 20pt;
  text-align: justify; }
