$readable-color: darken(white, 10%);
$highlight: tomato;
$highlight-dark: tomato; //#84CEEB;
$header-colour: steelblue;
$background: #313131;
$background-dark: darken($background, 10%);
$background-light: lighten($background, 70%);
$font-light: 300;
$font-normal: 400;
$circle-size: 150px;
$border-thickness: 1px;
$padding: 30px;

@mixin header-font {
    font-family: 'Work Sans script=all', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $header-colour;
}

@mixin content-font {
    font-family: 'Raleway', sans-serif;
    font-weight: $font-normal;
    font-style: normal;
}

@mixin subtitle {
    font-size: 12pt;
}

@mixin indent($n) {
    margin-right: 50px;
    margin-left: $n * 50px;
}

@mixin title {
    font-weight: 300;
}

html {
    @include content-font;

    color: $readable-color;
}

body {
    background: $background;
    margin: 0;
}

.header {
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    &__links {
        display: flex;
        flex-direction: row;
        justify-items: center;
        margin: 15px 0 0;
        flex-wrap: wrap;
    }

    &__link {
        display: flex;
        text-decoration: none;
        color: $highlight-dark;
        align-self: flex-start;
        margin: 0 20px;
        font-size: 16pt;
        font-weight: 400;

        &:visited {
            color: $highlight-dark;
        }

        &:hover {
            color: $readable-color;
        }

        &--contact {
            color: $readable-color;

            &:visited {
                color: $highlight;
            }
        }
    }

    &__me-section {
        margin: 50px 0 0;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0;
        font-size: 30pt;
        font-weight: 500;
    }

    &__subtitle {
        margin: 0;

        @include subtitle;

        align-self: center;
    }
}

.circle {
    background: $readable-color;
    border: $highlight 3px solid;
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    overflow: hidden;

    &--header {
        align-self: center;
    }

    &__me {
        background: url("../images/me.jpg") no-repeat center center;
        background-size: cover;
        width: $circle-size;
        height: $circle-size;
    }
}

.text-section {
    margin: 0 25%;
}

.employer {
    padding: 0 0 30px;

    &__title {
        font-size: 18pt;
        line-height: 22pt;
    }
}

.project {
    padding: 20px 0 0;

    &__title {
        @include title;

        font-size: 16pt;
        line-height: 20pt;
    }

    &__skills {
        display: flex;
        flex-direction: row;
        padding: 0;
        flex-wrap: wrap;
        margin: 5px 0;
    }

    &__skill {
        list-style: none;
        margin-right: 10px;
        color: $readable-color;
        background-color: $highlight;
        padding: 5px 10px;
        border-radius: 30px;
        margin: 5px;
        text-transform: lowercase;
        font-size: 10pt;
    }
}

.separator-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    padding: $padding 0 $padding 10%;

    &__line {
        flex-grow: 1;
        background: $highlight-dark;
        height: 1px;
    }

    &__title {
        color: $highlight-dark;
        margin: 0 25px;
    }

    &--dark {
        .separator-title__line {
            background: $background-dark;
        }

        .separator-title__title {
            color: $background-dark;
        }
    }
}

.section {
    @include indent(1);

    padding-bottom: $padding;

    &--light {
        background: $background-light;
        margin: 0;
    }
}

.education {
    @include indent(1);

    &__cards {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: 5%;
        justify-content: center;
    }
}

.education-card {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    background: #313131;
    color: #eee;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.55), 0 5px 15px rgba(0, 0, 0, 0.55);
    margin: 0 25px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    transition: 0.3s ease-in-out;

    i {
        color: inherit;
    }

    &__icon {
        align-self: center;
        font-size: 36pt;
    }

    &__title {
        @include title;

        align-self: center;
        padding: 20px 0;
    }

    &__subtitle {
        align-self: center;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.courses-container {
    @include indent(2);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.course {
    margin: 20px 0 0;
    width: 30%;
    align-self: center;
    border-radius: 10px;
    display: flex;
    height: 150px;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        flex-grow: 1;
        text-align: center;

        &--2018 {
            background: linear-gradient(to right, #ff8047, #f4374c)
        }

        &--2017 {
            background: linear-gradient(to right, #47fff8, #3771f4)
        }

        &--2016 {
            background: linear-gradient(to right, #f437d0, #8e47ff)
        }
    }

    &__title {
        @include title;

        color: white;
        width: 80%;
        margin-left: 0;
        padding: 5px 0;
        font-weight: 600;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 0;
        flex-wrap: wrap;
    }

    &__tag {
        padding: 0 5px;
    }

    &__year-container {
        background: white;
        width: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__year {
        transform: rotate(270deg);
        font-size: 30pt;

        &--2018 {
            color: #f4374c;
        }

        &--2017 {
            color: #3771f4;
        }

        &--2016 {
            color: #8e47ff;
        }
    }

    &__description {
        color: $background-dark;
        width: 80%;
        margin-left: 10%;
        display: none;
    }
}

.progress-bars {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    width: 21%;
    padding: 20px 6%;
    align-self: flex-end;

    &__title {
        @include title;

        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__bar {
        display: flex;
        flex-direction: row;
        padding: 10px 0 0;
    }

    &__bar-segment {
        height: 30px;
        display: flex;
        flex-direction: column;
        transition: 2s;

        &--highlight {
            background: $highlight;
            width: 0px;
        }

        &--highlight-dark {
            background: $highlight-dark;
            width: 0px;
        }

        &--white {
            background: white;
            flex-grow: 1;
        }
    }
}

.list-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list-card {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 8px;
    margin: ($circle-size / 2) 3% 0;

    &__icon {
        background: $readable-color;
        border: $highlight 3px solid;
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        top: -($circle-size / 2);
        margin-bottom: -($circle-size / 3);

        &--low {
            background: url("../images/me.jpg") no-repeat center center;
            background-size: cover;
            width: $circle-size;
            height: $circle-size;
        }
    }

    &__ribbon {
        background: $highlight;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: -10px 0 0 0 $highlight, 10px 0 0 0 $highlight;
    }

    &__title {
        color: $readable-color;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        > :first-child {
            margin-left: 5%;
        }

        > :nth-child(3n+1) {
            margin-left: 5%;
        }
    }
}

.titled-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-right: 5%;
    width: (100% - 20%) / 3;
    text-align: center;

    &__icon {
        width: 100px;
        height: 100px;
        background-size: cover;
        transition: 0.3s;

        &--adobe-animate {
            background: url("../images/Adobe Animate/Adobe Animate.svg") no-repeat center center;

            &:hover {
                background: url("../images/Adobe Animate/Adobe Animate Colour.svg") no-repeat center center;
            }
        }

        &--adobe-indesign {
            background: url("../images/Adobe InDesign/Adobe InDesign.svg") no-repeat center center;

            &:hover {
                background: url("../images/Adobe InDesign/Adobe InDesign Colour.svg") no-repeat center center;
            }
        }

        &--adobe-illustrator {
            background: url("../images/Adobe Illustrator/Adobe Illustrator.svg") no-repeat center center;

            &:hover {
                background: url("../images/Adobe Illustrator/Adobe Illustrator Colour.svg") no-repeat center center;
            }
        }

        &--asana {
            background: url("../images/Asana/Asana.svg") no-repeat center center;

            &:hover {
                background: url("../images/Asana/Asana Colour.svg") no-repeat center center;
            }
        }

        &--behance {
            background: url("../images/Behance/Behance.svg") no-repeat center center;

            &:hover {
                background: url("../images/Behance/Behance Colour.svg") no-repeat center center;
            }
        }

        &--adobe-photoshop {
            background: url("../images/Adobe Photoshop/Adobe Photoshop.svg") no-repeat center center;

            &:hover {
                background: url("../images/Adobe Photoshop/Adobe Photoshop Colour.svg") no-repeat center center;
            }
        }

        &--google-data-studio {
            background: url("../images/Google Data Studio/Google Data Studio.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Data Studio/Google Data Studio Colour.svg") no-repeat center center;
            }
        }

        &--google-tag-manager {
            background: url("../images/Google Tag Manager/Google Tag Manager.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Tag Manager/Google Tag Manager Colour.svg") no-repeat center center;
            }
        }

        &--confluence {
            background: url("../images/Confluence/Confluence.svg") no-repeat center center;

            &:hover {
                background: url("../images/Confluence/Confluence Colour.svg") no-repeat center center;
            }
        }

        &--mailchimp {
            background: url("../images/Mailchimp/Mailchimp.svg") no-repeat center center;

            &:hover {
                background: url("../images/Mailchimp/Mailchimp Colour.svg") no-repeat center center;
            }
        }

        &--infusionsoft {
            background: url("../images/Infusionsoft/Infusionsoft.svg") no-repeat center center;

            &:hover {
                background: url("../images/Infusionsoft/Infusionsoft Colour.svg") no-repeat center center;
            }
        }

        &--craft-cms {
            background: url("../images/Craft CMS/CraftCMS.svg") no-repeat center center;

            &:hover {
                background: url("../images/Craft CMS/CraftCMS Colour.svg") no-repeat center center;
            }
        }

        &--jira {
            background: url("../images/JIRA/Jira.svg") no-repeat center center;

            &:hover {
                background: url("../images/JIRA/Jira Colour.svg") no-repeat center center;
            }
        }

        &--google-analytics {
            background: url("../images/Google Analytics/Google Analytics.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Analytics/Google Analytics Colour.svg") no-repeat center center;
            }
        }

        &--google-docs {
            background: url("../images/Google Docs/Google Docs.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Docs/Google Docs Colour.svg") no-repeat center center;
            }
        }

        &--google-drive {
            background: url("../images/Google Drive/Google Drive.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Drive/Google Drive Colour.svg") no-repeat center center;
            }
        }

        &--google-forms {
            background: url("../images/Google Forms/Google Forms.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Forms/Google Forms Colour.svg") no-repeat center center;
            }
        }

        &--google-sheets {
            background: url("../images/Google Sheets/Google Sheets.svg") no-repeat center center;

            &:hover {
                background: url("../images/Google Sheets/Google Sheets Colour.svg") no-repeat center center;
            }
        }

        &--microsoft-excel {
            background: url("../images/Miscrosoft Excel/Miscrosoft Excel.svg") no-repeat center center;

            &:hover {
                background: url("../images/Miscrosoft Excel/Miscrosoft Excel Colour.svg") no-repeat center center;
            }
        }

        &--microsoft-powerpoint {
            background: url("../images/PowerPoint/PowerPoint.svg") no-repeat center center;

            &:hover {
                background: url("../images/PowerPoint/PowerPoint Colour.svg") no-repeat center center;
            }
        }

        &--microsoft-word {
            background: url("../images/Microsoft Word/Miscrosoft Word.svg") no-repeat center center;

            &:hover {
                background: url("../images/Microsoft Word/Miscrosoft Word Colour.svg") no-repeat center center;
            }
        }

        > img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        color: $background;
        font-size: 12pt;
        padding-top: 10px;
        font-weight: $font-normal * 1.5;
        text-align: unset;
    }
}

.contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    :last-child {
        margin: 0;
    }
}

.contact-link {
    background: white;
    border: $highlight 3px solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 0;

    > img {
        width: 70%;
        height: 70%;
    }
}

.expandable {
    display: flex;
    flex-direction: column;

    &__button {
        background: $background;
        border: $highlight $border-thickness solid;
        border-radius: 5px;
        width: 300px;
        height: 50px;
        color: $readable-color;
        align-self: center;
        transition: 0.5s;
        margin: 40px 0 0;

        &:hover {
            background: $highlight;
        }
    }

    &__item {
        transition: 0.5s;
        opacity: 1;
        display: unset;

        &--hidden {
            display: none;
            opacity: 0;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include header-font;

    margin: 0;
}

p {
    margin: 0;
    font-size: 12pt;
    line-height: 20pt;
    text-align: justify;
}
